
    
*{ 
      
  background-color: white;

  color:rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  
  text-align: center;
  font-size: 20px;
  
}

/* .buttonHover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-size: 20px;
  border: rgb(24, 255, 201) 2px solid;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  height: 46px;
  width: 46px;
}*/

/*.buttonHover:hover {
  background-color: #f0f0f0;
  border-radius: 50px;
  border: white 2px solid;
  box-shadow: 5px 5px 5px rgb(24, 255, 201, 0.5);
}*/


/*#todo{
  display: flex;
  flex-direction: column; 
  align-items: center;
  
  font-size: 50px;
  font-weight: bold;
  font-family:'Ink Free','papyrus', 'Comic Sans MS', cursive, sans-serif;
  background-color: #232323;
  color: #fffccc;
  margin-bottom: 20px;
  text-shadow: 5px 5px 8px #ff85f9;
  
}*/
/*#spacing{
  
} */
 #left{
  text-align: left;
  flex:1
  
}
 
#thetask{
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}


/*input[type="checkbox"]{
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  
}*/
#addedTask{
  display: inline;
  word-wrap: break-word
  
}



/*input[type="text"] {
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid #fffccc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 60%;
  outline: none;
  transition: border-color 0.3s ease;
}*/




h5{
  font-size: 20px;
  font-weight: bold;
  color: #848484;
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
}
 */
#outerbox{
  margin: 100px;
}
#todo{
  background-color: #FF8DA1;
  color:aliceblue;
  padding: 10px 50px 20px;
  font-family: 'Ink Free','papyrus', 'Comic Sans MS', cursive, sans-serif;
  font-size: 40px;
  
}
.fab:hover, .MuiFab-root:hover {
  background-color: #481552 !important; /* Use a visible color */
                 /* Ensure text/icon is visible */
}


